<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TRST SCORE</title>
</head>
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TRST SCORE </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link text-white" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="#services">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#Contact">CONTACT</a>
            <li class="nav-item">
              <a class="nav-link text-white" href="#map">MAP</a>
              <li class="nav-item">
                <a class="nav-link text-white" href="#pricing">PRICING</a>
              
          </li>    
        </ul>
      </div>
    </div>
  </nav>
 
  <div class="container mt-5 pb-5">
   <div style="text-align: center;">
        <h1>Company</h1>
         <p>Welcome</p>
            <input type="email"  placeholder="email">
            <button type="button" class="btn btn-secondary" >submit</button>
            
            <input type="password"  placeholder="password">
            <button type="button" class="btn btn-secondary" >submit</button>
            <hr>
            <hr>
    </div>
    <div class="one">
      <div id="about" style="padding: 80px;" >
  <h3 class="about " >ABOUT US</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repellendus magnam exercitationem et incidunt nemo modi nostrum, laborum, neque maxime minus quasi nobis corrupti temporibus, libero mollitia architecto magni omnis.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, quos aperiam veniam excepturi, saepe odio dolor exercitationem cupiditate qui quaerat blanditiis beatae atque, vitae nisi. Ut totam nobis pariatur eveniet!</p>
   <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam, ducimus neque voluptatum voluptatem porro laborum expedita qui vel dolorem cupiditate. Quasi quisquam, tenetur odio voluptas reprehenderit placeat impedit omnis perferendis!</P>
   <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur iure sequi sunt! Iusto sequi alias adipisci repudiandae temporibus vitae minima ullam, nobis, blanditiis voluptates voluptatibus ipsam tempora delectus accusantium eum.</P>
  
      <img src="../assets/trst1.jpeg" class="rounded" alt="Cinque Terre" width="700" height="466"> 
 </div>
    </div>
 
   
      <div id="services" style="padding: 80px;"  >
        <h3 class="p-3 bg-info">SERVICES</h3>
      
      
      <h5 class="emp" >EMPLOYEES</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem soluta, iste in voluptas incidunt perspiciatis molestiae nostrum odit quis architecto? Ipsam autem sapiente quod est perferendis earum ea similique aut?</p>
      
     <h5 class="text" >EMPLOYEES DETAILS</h5>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo optio nihil porro. Nam exercitationem recusandae iusto. Obcaecati ea similique porro libero, molestias quas eaque odio dolores eligendi excepturi magni minima?</p>
     <img src="../assets/trst2.jpeg" class="rounded" alt="Cinque Terre" width="700" height="466"> 
      </div>
     
    </div>
    <div id="Contact" style="padding: 80px;">
    
      <h3 class="contact">CONTACT</h3>
      <div class="con">
      <p>24x7 contact in my employee</p>
      <p> phone:no:6383566087</p>
      <p> mail:{{'santhoshk@trstscore.com'}}</p>
      </div>

      <div class="form">
        <nav class="nav navbar-nav navbar-right">

          <div class="col-sm-5 slideanim slide pt-1 ">
              <div class="row">
                <div class="col-sm-5 form-group text-align:center">
                  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
                </div>
                <div class="col-sm-6 form-group">
                  <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
                </div>
              </div>
              <textarea class="form-control text-align:center" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <button class="btn btn-default pull-right bg-secondary mb-3" type="submit">Send</button>
                </div>
              </div>
            </div>
        </nav>
           
            
           
           
          
          </div>
      </div>
      <div id="map" style="padding: 80px;">
        <h4 style="text-align:center">MAP</h4>
      
    
    <img src="../assets/trst5.jpeg" class="rounded" alt="Cinque Terre" width="1100" height="466"> 
      </div>
      <div id="pricing" style="padding: 80px;">
  <div class="pricing">
    <h2>PRICING</h2>
    <h5>Choose a payment plan that works for you</h5>
  </div>
 
       
<div>
<table>
  <tr>
    <th>Basic</th>
    <th>Pro</th>
    <th>Premium</th>
  </tr>
  <tr>
    <td>20Lorem</td>
    <td>50Lorem</td>
    <td>100Lorem</td>
  </tr>
  <tr>
    <td>15Ipsum</td>
    <td>25Ipsum</td>
    <td>50Ipsum</td>
  </tr>
  <tr>
    <td>5Dolor</td>
    <td>10Dolor</td>
    <td>25Dolor</td>
  </tr>
  <tr>
    <td>2 </td>
    <td>5</td>
    <td>10</td>
  </tr>
  <tr>
    <td>EndlessAmet</td>
    <td>EndlessAmet</td>
    <td>EndlessAmet</td>
  </tr>
  <tr>
    <td>$19</td>
    <td>$29</td>
    <td>$49</td>
  </tr>
  <tr>
    <td>per month</td>
    <td>per month</td>
    <td>per month</td>
  </tr>
</table>
</div>
