.feed{ 
  margin-right: 350px;
  margin-top: 10px;
  margin-left: 370px;
  
}
.star {
  font-size: 24px;
 width: 150px;
  margin-top:50px;
margin-left: 370px;
cursor: pointer;
  color: orange;

}

.one{
  color: black;
  margin-top:50px;
  margin-left: 370px;
}